* {
    font-family: "Montserrat", Helvetica;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
a {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    width: 1136px;
    padding-left: 33px;
    padding-right: 33px;
    margin: 0 auto;
}

.hero-banner-title,
.bottom-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
}



.review-button,
.review-list-item-title,
.recipe-subtitle-list-item-text,
.taste-list-item-text,
.recipe-subtitle {
    color: #111111;
}

.button-primary:hover,
.button-secondary:hover,
.text-higlight {
    color: #FD9222;
}
.button-secondary:hover {
    border: #FD9222 1px solid;
}

.button-primary:hover {
    background-color: #FCF1E0;
}

.bottom-navigation-list-item-anchor,
.bottom-contacts-adress-list-item,
.bottom-title,
.review-list-item-subtitle,
.recipe-subtitle-list-item-text,
.taste-subtitle,
.taste-list-item-text,
.benefits-list-item-text {
    letter-spacing: -0.02em;
}

button {
    cursor: pointer;
}

.button-secondary,
.button-primary {
    font-weight: 600;
    font-size: 14px;
    border-radius: 100px;
    padding: 14px 40px;
    border: none;
}

.button-secondary {
    background-color: transparent;
    border: #fff solid 1px;
}

.bottom-contacts-adress-list-item-number,
.bottom-contacts-adress-list-item-mail,
.bottom-contacts-title,
.bottom-title,
.bottom-navigation-list-item-anchor,
.bottom-contacts-adress-list-item,
.white-text,
.benefits-title,
.hero-banner-title,
.hero-banner-button-scroll,
.button-secondary,
.button-primary {
    color: #fff;
}

/* Navigation section start */

.header-navigation-logo {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.10px;
    line-height: 20px;
    font-size: 18px;
    flex-grow: 1;
    font-family: 'Montserrat-Bold', Helvetica;
    display: flex;
}

.choco-logo {
    margin-right: 4px;
}

.header-navigation-logo-italic {
    font-style: italic;
}

.header {
    margin: 24px 0 32px 0;
}

.header-navigation-direction {
    display: flex;
    align-items: center;
}

.header-navigation-direction ul {
    display: flex;
}

.header-navigation-menu {
    gap: 24px;
    margin-right: 90px;
}

.header-navigation-menu li {
    font-weight: 500;
}

.header-navigation-social {
    gap: 18px;
}

.header-navigation {}

.first-logo {}

/* Navigation section end */


/* Hero section start */
.hero-banner {
    background-image: url('/FSON-Landing/images/hero-banner.jpg');
    width: 1136px;
    height: 600px;
    background-size: contain;
    border-radius: 20px;
    margin-bottom: 72px;
}

.hero-banner-content {
    padding: 381px 40px 40px 40px;
}

.hero-banner-content-buttons {
    display: flex;
    align-content: center;
}

.hero-banner-content-buttons div:first-child {
    flex-grow: 1;
    display: flex;
    gap: 14px;
}

.hero-banner-title {
    letter-spacing: -0.03em;
    max-width: 484px;
    margin-bottom: 32px;
}

.hero-banner-button-scroll {
    display: flex;
    align-items: center;
    gap: 14px;
}

.hero-banner-button-scroll span {
    padding-top: 10px;
    padding-bottom: 10px;
    flex-basis: content;
}

/* Hero section end */

/* Benefits section start */

.benefits {
    background-color: #1e1823;
}

.benefits .container {
    flex-basis: calc((100% - 2 * 88px) / 3);
    display: flex;
}

.benefits-list {
    padding: 50px;
    display: flex;
    gap: 88px;
}

.benefits-list-item-image {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    padding: 15px;
}

.benefits-list-item {}

.benefits-title {
    padding-bottom: 18px;
    padding-top: 22px;
}

.benefits-title,
.review-list-item-title,
.recipe-subtitle {
    font-weight: 600;
    font-size: 18px;
}

.benefits-list-item-text {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

/* Benefits section end */

/* Taste section start */

.taste {
    margin-top: 100px;
    margin-bottom: 100px;
}

.taste-subtitle,
.taste-title {
    margin: 0 auto;
    text-align: center;
}

.taste-title {
    text-transform: uppercase;
    max-width: 425px;
    margin-bottom: 50px;
}

.taste-subtitle {
    font-size: 14px;
    line-height: 129%;
    color: #111111;
    max-width: 486px;
    margin-bottom: 50px;
}

.taste-list {
    display: flex;
    gap: 18px;
}

.taste-list-item {
    border: 1px solid #FD9222;
    padding: 28px 36px 28px 28px;
    border-radius: 15px;
}

.taste-list-item-text {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    text-transform: uppercase;
    padding-top: 36px;
}

.list-item-milk,
.button-primary {
    background-color: #FD9222;
}

.list-item-nuts {
    background-color: #1E1823;
}

/* Taste section end */

/* Recipe section start */

.recipe {
    margin-bottom: 100px;
}

.recipe-title,
.review-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
}

.recipe-content {
    display: flex;
}

.recipe-content section {
    padding: 32px;
}

.recipe-content img {
    margin-right: 20px;
}

.recipe-image {}

.recipe-subtitle {
    line-height: 133%;
    margin-bottom: 28px;
}

.recipe-subtitle-list {}

.recipe-subtitle-list-item {
    padding-bottom: 24px;
}

.recipe-subtitle-list-item:last-child {
    padding-bottom: 0;
}

.recipe-subtitle-list-item-text {
    font-size: 14px;
    line-height: 129%;
    margin-left: 8px;
    display: flex;
    align-items: baseline;
}

.recipe-subtitle-list-item-text::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #4C4C4C;
    border: solid 2px #ECEDED;
    border-radius: 100%;
    margin-right: 8px;
    flex-shrink: 0;
}

/* Recipe section end */

/* Review section start */

.review {}

.review .title {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 600;
}

.review-list {
    display: flex;
    gap: 28px;
    align-items: center;
}

.review-list-item {
    text-align: center;
    width: 360px;
}

.review-list-item-image {
    width: 80px;
    height: 80px;
    margin-bottom: 18px;
}

.review-list-item-title {
    line-height: 133%;
    text-align: center;
}

.review-list-item-subtitle {
    font-size: 14px;
    line-height: 129%;
    padding: 24px;
    text-align: center;
    color: rgba(17, 17, 17, 0.7);
}

.review-button-secondary {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.review-button {
    color: #111111;
    border: #FD9222 solid 1px;
    text-align: center;
}

/* Review section end */

/* Footer section start */

.bottom {
    background-color: #1E1823;
}

.bottom-upper-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-right: 32px;
}
.bottom-title {
    
}


.bottom-contacts {}

.bottom-contacts-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
}

.bottom-contacts-adress {}

.bottom-contacts-adress-list {}

.bottom-contacts-adress-list-item {
    line-height: 129%;
}

.bottom-contacts-adress-list-item-number {}

.bottom-contacts-adress-list-item-mail {}

.bottom-navigation { 
}

.bottom-navigation-list {
        display: flex;
        gap: 24px;

}

.bottom-navigation-list-item {}

.bottom-navigation-list-item-anchor {
    font-weight: 500;
    line-height: 114%;
}

.bottom-menu-below {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    padding-bottom: 50px;
}
.bottom-subcribe {}

.bottom-subcribe-email {
    margin-right: 8px;
}

.bottom-subcribe-email:hover {
    border: #fff solid 1px;
}

.bottom-subcribe-sumbit {
}

/* Footer section end */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.social-icons {
    stroke: #111111;
    fill: transparent;
}


.taste-list-item {
    position: relative;
    width: 100%;
    transition: 1s all ease-in-out;
    overflow: hidden;
}

.taste-card-wrap {
    height: 100%;

}

.taste-card-wrap:hover .taste-card-back {
    transform: translateY(0);
}
.list-item-milk {
}
.taste-card-front {
}
.taste-list-item-text {
}
.white-text {
}
.taste-card-back {
    position: absolute;
    top: 0;
    transition: 1s all ease-in-out;
    padding: 20px;
    left: 0;
    transform: translateY(100%);
    background-color: #4d5ae5;
    border-radius: 15px;
    height: 100%;
    box-sizing: border-box;
}

.taste-list-item-text .white-text {
    background-color: #e7e9fc;
    color: #2e2f42;
}


/* Pop-up section start */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, 0.507);
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;

}



.pop-up {
    width: 517px;
    height: 794px;
    background-color: #fafafa;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    position: relative;
}

.pop-up-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #111111;
    width: 60%;
    margin-bottom: 40px;
}

.pop-up-close-btn {
    width: 5%;
    align-self: flex-end;
    border: none;
    background-color: transparent;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 24px;
}

.pop-up-field {
    margin-bottom: 18px;
    border:none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pop-up-field label {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: rgba(64, 64, 64, 0.3);
    margin-bottom: 8px;
}
.pop-up-field-input,
.pop-up-field-comment {
    border: 1.50px solid rgba(17, 17, 17, 0.05);
    border-radius: 13px;
    box-sizing: border-box;
}
.pop-up-field-input {
    padding: 22px 24px 22px 55px;
}

.pop-up-field:hover .pop-up-svg,
.pop-up-field:hover .pop-up-field-input,
.pop-up-field:hover .pop-up-field-input::placeholder {
    border-color: #FD9222;
    stroke: #FD9222;
}

.pop-up-field-input:focus-visible,
.pop-up-field:hover .pop-up-svg,
.pop-up-field-input:focus-visible .pop-up-field-input::placeholder,
.pop-up-field-comment:focus-visible
 {
    border-color: #FD9222;
    stroke: #FD9222;
    outline: none;
 }

 .pop-up-field:focus-within .pop-up-svg,
 .pop-up-field:focus-within .pop-up-field-input::placeholder {
    stroke: #FD9222;
    color: #FD9222;
 }

.pop-up-svg {
    position: absolute;
    top: 48%;
    left: 28px;
}

.button-pop-up {
    width: 7%;
    box-sizing: content-box;
}

.pop-up-field-comment {
    resize: none;
    width: auto;
    
 }
 .pop-up-field-comment::placeholder {
    padding-top: 22px;
    padding-left: 24px;
 }
.pop-up-field-comment::placeholder,
.pop-up-field-input::placeholder {
 color: rgba(64, 64, 64, 0.3);
}

.privacy {
    color: rgba(64, 64, 64, 0.6);
    position: relative;
}

.privacy-link {
    text-decoration: underline;
    cursor: pointer;
}

/* Custom checkbox */

.privacy {
  position: relative;
}

/* Hide the browser's default checkbox */
.privacy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border: 1px solid rgba(17, 17, 17, 0.14);
  border-radius: 6px;
}

.checkbox-text {
    margin-left: 32px;
}

/* When the checkbox is checked, add a blue background */
.privacy input:checked ~ .checkmark {
  background-color: #FD9222;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.privacy input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.privacy .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height:9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}







